body {
  margin: 0;
  font-family: "Noto Sans", "sans-serif";
  font-size: 16px;
}

/* Header */
header {
  background-color: rgb(241, 247, 247);
  color: black;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 20px;
  font-size: 20px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  text-transform: uppercase;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.menu-item .material-symbols-outlined {
  font-size: 2em;
  margin-bottom: 5px;
}

.menu-item span:last-child {
  font-size: 0.9em;
}

.menu a {
  text-decoration: none;
  color: rgb(142, 150, 170);
  padding: 5px 10px;
  transition: color 0.2s ease;

}

.menu a:hover {
  color: rgb(56, 142, 237);
  font-weight: bold;
}

/* Footer */
footer {
  width: 100%;
  background-color: rgb(179, 229, 252);
  padding: 20px 0;
  text-align: center;
  font-size: 0.9em;
  color: rgb(51, 51, 51);
}

.container {
  margin: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

footer ul li {
  margin-left: 20px;
}

footer ul li a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

footer ul li a:hover {
  font-weight: bold;
}

/* Home-content */
.home-content {
  padding: 20px;
  margin: 0 10px;
  min-height: 400px;
}

.home-content h2 {
  font-size: 28px;
  color: rgb(56, 142, 237);
}

.home-content h3 {
  font-size: 20px;
  color: rgb(56, 142, 237);
}

/* Message */
.messageDiv {
  background-color: rgb(56, 142, 237);
  color: white;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  font-size: 1rem;
  opacity: 0;
  animation: fadeOut 5s forwards;
}
